@page "/Home"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using BlazorCrud.Client.Services;
@using BlazorCrud.Shared;

 
@attribute [Authorize]

 

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Bienvenido @context.User.Identity!.Name</h1>
        <span style="font-weight: bold;">Correo:</span><p>@context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value </p>
        <span style="font-weight: bold;">Rol: </span><p>@context.User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value</p>
    </Authorized>
</AuthorizeView>
